/*---- COPYRIGHT ----*/


div.copyrightNotice
{
	position: absolute;
	clear: both;
	bottom: 3px;
	margin-left: 3px;
	font-size: 10pt;
	z-index: -10;
}

div.copyrightNotice img
{
	float: left;
	margin-right: 3px;
	margin-top: 3px;
}

/*---- COPYRIGHT - MOBILE ----*/


@media all and (max-width: 400px)
{
	div.copyrightNotice
	{
		font-size: 8pt;
	}
}

/*---- NOTIFICATIONS ----*/


.spinkit-container
{
	z-index: 2000;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	border-radius: 50%;
	padding: 15px;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}

.spinkit-container.sk-circle-fade-dot::before
{
	background-color: #654b24;
}

/*---- BUTTONS ----*/


span.button-small
{
	background-position: 50%;
	background-size: contain;
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
	vertical-align: middle;
	opacity: 0.6;
	width: 24px;
	height: 24px;
}

span.button-small:hover
{
	opacity: 1;
}

/*---- ROLL ----*/


input.roll
{
	background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%), url("Images/rollDice.png") no-repeat;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0.6)), color-stop(100%,rgba(255,255,255,0.6))), url("Images/rollDice.png") no-repeat;
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%), url("Images/rollDice.png") no-repeat;
	background: -o-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%), url("Images/rollDice.png") no-repeat;
	background: -ms-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%), url("Images/rollDice.png") no-repeat;
	background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 100%), url("Images/rollDice.png") no-repeat;
	background-size: contain;
	background-position: left;
	text-align: right;
}

div.roll span.button-small
{
	padding-left: 5px;
	border-left: 1px solid black;
}

span.roll-random
{
	background-image: url("Images/butterfly.png");
}

span.roll-saved
{
	background-image: url("Images/database.png");
}

/*---- GLOBAL RULES ----*/


.ruleDoesNotApply
{
	visibility: hidden;
}

.itemReference
{
	display: none;
}

/*---- OPEN HOME ----*/


a.openHome
{
	background-size: contain;
	background-image: url("Images/eraLogo.png");
	background-repeat: no-repeat;
	width: 117px;
	height: 35px;
	float: left;
}

/*---- SKILL GLOSSARY ----*/


div.glossaryEntry.ui-state-default
{
	float: left;
	max-height: 400px;
	overflow-y: auto;
	max-width: 442px;
	padding: 10px;
	font-weight: inherit;
}

div.glossaryEntry.ui-state-default:not(:only-child)
{
	margin-right: 35px;
}

div.glossaryEntry.ui-state-default:only-child
{
	margin-bottom: 10px;
}

div.glossaryEntryDescription
{
	font-size: smaller;
	text-align: justify;
	padding-right: 10px;
}

div.glossaryEntry > h3
{
	margin-top: 0px;
	margin-bottom: 15px;
}

div.glossaryEntry > h3 > em
{
	font-size: smaller;
	font-weight: normal;
	margin-left: 7px;
}

table.glossaryEntryModifiers
{
	min-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

td.glossaryEntryModifierValue
{
	text-align: center;
	min-width: 90px;
}

table.glossaryEntryDifficultyExamples
{
	min-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

td.glossaryEntryExample
{
	text-align: justify;
	font-size: smaller;
	background-color: white;
	border: 1px solid #654b24;
	border-radius: 5px;
	padding: 3px;
	width: 83%;
}

/*---- AUTOCOMPLETE ----*/


ul.spellLists-autocomplete ,
ul.autocompleteList
{
	width: 600px;
	max-height: 40vh;
	overflow-y: auto;
	overflow-x: hidden;
	background: lightgray;
	z-index: 101 !important ;
}

ul.spellLists-autocomplete li.ui-menu-item ,
ul.autocompleteList li.ui-menu-item
{
	background: white;
    margin: 1px;
}