/*---- STRATEGIC MOVEMENT ----*/


fieldset.strategicMovement
{
	float: right;
	width: 310px;
	margin-right: 5px;
	margin-left: 5px;
}

fieldset.strategicMovement label
{
	display: inline-block;
	width: 50%;
	margin-top: 0.2em;
	margin-bottom: 0.7em;
	font-size: 0.9em;
}

fieldset.strategicMovement input ,
fieldset.strategicMovement select
{
	float: right;
}

fieldset.strategicMovement select
{
	width: 149px;
}

fieldset.strategicMovement input
{
	width: 70px;
	text-align: right;
	padding: 0px 10px;
}

/*---- MAP SELECTION ----*/


form.mapSelection
{
	display: inline;
	height: 100%;
}

form.mapSelection > div
{
	margin: 0;
	position: relative;
	overflow: hidden;
	display: inline-block;
	text-decoration: underline;
}

form.mapSelection input
{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*---- MAP ----*/

input.distanceInPixels, input.scaleInPixels
{
	display: none;
}

input.scaleDistance
{
	width: 50px;
	margin-left: 8px;
	margin-right: 8px;
	text-align: right;
	vertical-align: middle;
}

input.scaleUnit
{
	width: 100px;
	vertical-align: middle;
}

span.computedDistance
{
    margin-left: 16px;
    font-size: 16pt;
    vertical-align: middle;
    font-weight: bold;
}

div > button.ui-widget:first-of-type
{
	margin-left: 16px;
}

fieldset.journeyMap img
{
	width: 100%;
}

/*---- MAP OVERLAY ----*/


canvas.mapOverlay
{
	position: absolute;
}