/*---- DICE ----*/


div.eraInterface div.rolling-dice
{
	position: absolute;
	left: calc(50vw - 100px);
	top: 75vh;
}

div.eraInterface div.fading-dice
{
	opacity: 1;
	animation: none;
}

span.dice-toggle
{
	background-image: url("Images/d10.png");
	background-size: contain;
	display: inline-block;
	height: 44px;
	width: 44px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}

span.dice-toggle.hide-dice::before ,
span.dice-toggle.hide-dice::after
{
	content: "";
	background: red;
	display: inline-block;
	width: 2px;
	height: 44px;
	position: relative;
	left: 20px;
}

span.dice-toggle.hide-dice::before
{
	transform: rotate(-45deg);
}

span.dice-toggle.hide-dice::after
{
	transform: rotate(45deg);
}

div.rolling-dice:not(.shown-dice)
{
	display: none;
}

/*---- DICE AFFECTED BY SIZE ----*/


div.rolling-dice
{
	width: 100px;
	height: 100px;
}

figure.face.face-1 ,
figure.face.face-3 ,
figure.face.face-5 ,
figure.face.face-7 ,
figure.face.face-9
{
	top: 50px;
}

figure.face
{
	margin: 0 -26px;
	border-left-width: 26px;
	border-right-width: 26px;
	border-bottom-width: 51px;
}

figure.face::before
{
	top: 12.5px;
	left: -26px;
	line-height: 50px;
	width: 52px;
}

div.die:nth-child(1) figure.face::before
{
	font-size: 25px;
}

div.die:nth-child(2) figure.face::before
{
	font-size: 30px;
}

figure.face::after
{
	bottom: -62px;
	left: -26px;
	border-top-width: 12px;
	border-left-width: 26px;
	border-right-width: 26px;
}

figure.face.face-0
{
	transform: rotateY(0deg) translateZ(17px) translateY(3.48px) rotateX(45deg);
}

figure.face.face-1
{
	transform: rotateY(72deg) translateZ(-17px) translateY(-3.48px) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
}

figure.face.face-2
{
	transform: rotateY(-72deg) translateZ(17px) translateY(3.48px) rotateX(45deg);
}

figure.face.face-3
{
	transform: rotateY(144deg) translateZ(-17px) translateY(-3.48px) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
}

figure.face.face-4
{
	transform: rotateY(-144deg) translateZ(17px) translateY(3.48px) rotateX(45deg);
}

figure.face.face-5
{
	transform: rotateY(216deg) translateZ(-17px) translateY(-3.48px) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
}

figure.face.face-6
{
	transform: rotateY(-216deg) translateZ(17px) translateY(3.48px) rotateX(45deg);
}

figure.face.face-7
{
	transform: rotateY(288deg) translateZ(-17px) translateY(-3.48px) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
}

figure.face.face-8
{
	transform: rotateY(-288deg) translateZ(17px) translateY(3.48px) rotateX(45deg);
}

figure.face.face-9
{
	transform: rotateY(360deg) translateZ(-17px) translateY(-3.48px) rotateZ(180deg) rotateY(180deg) rotateX(45deg);
}